<%- include('includes/header') %>
<%- include('includes/nav') %>

<main>
  <div class="container">

    <div class="col-8 offset-2">
        <h1 class="text-center mt-5">Bem-vindo a Agenda</h1>
        <p class="text-center lead my-3">Aqui você pode salvar os seus contatos</p>
    </div>

  </div>    
</main>

<%- include('includes/footer') %>